[Unit]
Description=Weather
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/admin/rpi0-weather/app.py

[Install]
WantedBy=multi-user.target