[Unit]
Description=Weather

[Service]
WorkingDirectory=/home/admin/rpi0-weather
ExecStart=/usr/bin/python3 /home/admin/rpi0-weather/app.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target